:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

h1 {
  color: #3b42be;
  font-size: 3.2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem 7em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  box-shadow: 2px 4px 15px 1px rgba(63, 47, 96, 0.4);
  border-radius: 20px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
