.carousel-container {
  max-width: 100%;
  height: 100vh;
  position: relative;
  margin: 0%;
  display: block;
}

.carousel-container img.carousel-image {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(245, 246, 252, 0),
    rgba(16, 21, 27, 0.1),
    rgba(16, 21, 27, 0.2),
    rgba(16, 21, 27, 1)
  );
}
